<?xml version="1.0" encoding="utf-8" ?> 
<VideoEncoder>
	<encodeCommand>mencoder</encodeCommand>
	<defaultProfile>default</defaultProfile>
	<!--
			 * {0} = DVD Path
			 * {1} = Output file path
			 * {2} = Crop command	
	-->
	<profile profileName="default">
		<fourCC>DX50</fourCC>
		<description>Standard profile with high quality results for most movies.</description>
		<cropDetect>dvd://1 -dvd-device "{0}" -vop cropdetect -ss 90 -frames 10000 -oac copy -ovc lavc -quiet -o "{1}.avi"</cropDetect>
		<pass>dvd://1 -dvd-device "{0}" -nosound -ovc copy -vobsubout "{1}" -vobsuboutindex 0 -sid 0</pass>
		<pass>dvd://1 -dvd-device "{0}" -vf {2} -oac copy -ovc lavc -lavcopts vcodec=mpeg4:vbitrate=1600:autoaspect:vpass=1 -passlogfile "{1}.log" -o "{1}.avi"</pass>
		<pass>dvd://1 -dvd-device "{0}" -vf {2} -oac copy -ovc lavc -lavcopts vcodec=mpeg4:vbitrate=1600:autoaspect:vpass=2 -passlogfile "{1}.log" -o "{1}.avi"</pass>
		<cleanup>rm "{1}.log"</cleanup>
	</profile>
	<profile profileName="mediumres">
		<fourCC>DX50</fourCC>
		<description>Standard profile with high quality results for most movies.</description>
		<cropDetect>dvd://1 -dvd-device "{0}" -vop cropdetect -ss 90 -frames 10000 -oac copy -ovc lavc -quiet -o "{1}.avi"</cropDetect>
		<pass>dvd://1 -dvd-device "{0}" -nosound -ovc copy -vobsubout "{1}" -vobsuboutindex 0 -sid 0</pass>
		<pass>dvd://1 -dvd-device "{0}" -vf {2} -oac copy -ovc lavc -lavcopts vcodec=mpeg4:vbitrate=1200:autoaspect:vpass=1 -passlogfile "{1}.log" -o "{1}.avi"</pass>
		<pass>dvd://1 -dvd-device "{0}" -vf {2} -oac copy -ovc lavc -lavcopts vcodec=mpeg4:vbitrate=1200:autoaspect:vpass=2 -passlogfile "{1}.log" -o "{1}.avi"</pass>
		<cleanup>rm "{1}.log"</cleanup>
	</profile>
	<profile profileName="highres">
		<fourCC>DX50</fourCC>
		<description>High resolution profile with excellent quality results for most movies. Note: Takes 4 times longer than the default profile.</description>
		<cropDetect>dvd://1 -dvd-device "{0}" -vop cropdetect -ss 90 -frames 10000 -oac copy -ovc lavc -quiet -o "{1}.avi"</cropDetect>
		<pass>dvd://1 -dvd-device "{0}" -nosound -ovc copy -vobsubout "{1}" -vobsuboutindex 0 -sid 0</pass>
		<pass>dvd://1 -dvd-device "{0}" -vf {2} -oac copy -ovc lavc -lavcopts vcodec=mpeg4:vbitrate=2000:v4mv:mbd=2:trell:cmp=3:subcmp=3:mbcmp=3:autoaspect:vpass=1 -passlogfile "{1}.log" -o "{1}.avi"</pass>
		<pass>dvd://1 -dvd-device "{0}" -vf {2} -oac copy -ovc lavc -lavcopts vcodec=mpeg4:vbitrate=2000:v4mv:mbd=2:trell:cmp=3:subcmp=3:mbcmp=3:autoaspect:vpass=2 -passlogfile "{1}.log" -o "{1}.avi"</pass>
		<cleanup>rm "{1}.log"</cleanup>
	</profile>
	<profile profileName="nocrop">
		<fourCC>DX50</fourCC>
		<description>Standard profile with high quality results for most movies.</description>
		<pass>dvd://1 -dvd-device "{0}" -nosound -ovc copy -vobsubout "{1}" -vobsuboutindex 0 -sid 0</pass>
		<pass>dvd://1 -dvd-device "{0}" -oac copy -ovc lavc -lavcopts vcodec=mpeg4:vbitrate=1600:autoaspect:vpass=1 -passlogfile "{1}.log" -o "{1}.avi"</pass>
		<pass>dvd://1 -dvd-device "{0}" -oac copy -ovc lavc -lavcopts vcodec=mpeg4:vbitrate=1600:autoaspect:vpass=2 -passlogfile "{1}.log" -o "{1}.avi"</pass>
		<cleanup>rm "{1}.log"</cleanup>
	</profile>
</VideoEncoder>
